/*

  "Perhaps seeing things from a new perspective has reminded 
  me of life's beauty.

  Or perhaps my new posture is causing blood to 
  pool in the back of my brain, resulting in a slight delirium."

      - Prof. Farnsworth, Futurama

*/

@font-face {
    font-family: 'ankeregular';
    src: url('fonts/anke-bold-webfont.eot');
    src: url('fonts/anke-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/anke-bold-webfont.woff2') format('woff2'),
         url('fonts/anke-bold-webfont.woff') format('woff'),
         url('fonts/anke-bold-webfont.ttf') format('truetype'),
         url('fonts/anke-bold-webfont.svg#ankebold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ankeregular';
    src: url('fonts/anke-regular-webfont.eot');
    src: url('fonts/anke-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/anke-regular-webfont.woff2') format('woff2'),
         url('fonts/anke-regular-webfont.woff') format('woff'),
         url('fonts/anke-regular-webfont.ttf') format('truetype'),
         url('fonts/anke-regular-webfont.svg#ankeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'panefresco';
    src: url('fonts/panefresco999wtregular-webfont.eot');
    src: url('fonts/panefresco999wtregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/panefresco999wtregular-webfont.woff2') format('woff2'),
         url('fonts/panefresco999wtregular-webfont.woff') format('woff'),
         url('fonts/panefresco999wtregular-webfont.ttf') format('truetype'),
         url('fonts/panefresco999wtregular-webfont.svg#panefresco_999wtregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'ankeregular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'panefresco', sans-serif;
}

h1, h2, h3, h4, h5, h6, strong, em {
  color: #000000;
}

a {
  color: #A2BD4A;
  outline: none;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

#bg{
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#player {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45%;
  min-width: 230px;
}

#playlist {
  font-size: 12px;
  font-family: sans-serif;
  width: 100%;
  height: 80px;
  background: #b3b3b3;
  overflow: auto;
}

#playlist ul{
  margin: 0;
  padding: 0;
}

#playlist ul li{
  list-style: none;
  padding: 0;
}
#playlist ul li.playing{
  background: #d3d3d3;
  font-weight: 700;
}
#playlist ul li a{
  padding: 3px;
  display: block;
  color: #333333;
  border-top: 1px #ffffff solid;
  border-bottom: 1px #333333 solid;
}
#playlist ul li.playing a{
  color:#78ab18;
}
#playlist ul li:hover{
  background: #bada55;
}

.audiojs .scrubber{
  width: auto;
  position: absolute;
  left: 38px;
  right: 105px;
}

.audiojs .time {
  position: absolute;
  right: 0;
  width: 87px;
}

.audiojs{
  width: 100%;
}

#menu #spectrum{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#menu #spectrum .bar{
  width: 0.58%;
  min-height: 3px;
  background: #BADA55;
  display: inline-block;
  margin-left: 0.29%;
  margin-right: 0.29%;
}

#menu {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #555555;
  border: 1px #BADA55 solid;
  padding-top: 48px;
  min-width: 54px;
  border-radius: 5px;
}
#menu h4 {
  font-size: 28px;
  color: #BADA55;
  margin: 20px 0 5px 0;
  padding: 0;
}
#menu ul {
  list-style: none;
  padding: 0 10px;
  margin: 0;
}
#menu ul li {
  padding: 0;
  margin: 0;
  border-bottom: 1px #cccccc solid;
}
#menu ul li:hover {
  border-bottom: 1px #BADA55 solid;
}
#menu ul li:last-child {
  border-bottom: none;
}
#menu ul a {
  display: block;
  color: #ffffff;
  font-size: 22px;
  width: 100%;
  padding: 10px 5px;
}
#menu ul a:hover {
  color:#BADA55;
}
#menu ul li.selected {
  border-bottom: 1px #BADA55 solid;
}
#menu ul li.selected a {
  color:#BADA55;
  font-weight: bold;
}
#menu ul a.icon {
  padding-left: 34px;
  background-size: 28px 28px !important;
}
#menu ul a.github.icon {
  background: url('../img/icon-github.png') 0px 10px no-repeat;
}
#menu ul a.stackoverflow.icon {
  background: url('../img/icon-stackoverflow.png') 0px 10px no-repeat;
}
#menu ul a.twitter.icon {
  background: url('../img/icon-twitter.png') 0px 10px no-repeat;
}
#menu>ul {
  display: none;
}
#menu .hamburger {
  display: block;
  position: absolute;
  top: 0;
  right: 3px;
  width: 48px;
  height: 48px;
  background: url('../img/icon-hamburger-button.png') top left no-repeat;
  background-size: 48px 48px;
  content: " ";
}
#menu .close {
  display: none;
  position: absolute;
  top: 11px;
  right: 14px;
  width: 48px;
  height: 48px;
  background: url('../img/icon-close.png') top left no-repeat;
  background-size: 48px 48px;
  content: " ";
}

#menu:target{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
}
#menu:target>ul {
  display: block;
}
#menu:target .hamburger {
  display: none;
}
#menu:target .close {
  display: block;
}

#content {
  height: 100%;
  overflow: auto;
}

#home .mobile{
  background: #555555;
  padding: 50px;
  text-align: center;
}

#contact .content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#contact .content ul #contact-email {
  background: url('../img/icon-email.png') top left no-repeat;
  background-size: 32px 32px;
  padding-left: 36px;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
}

#contact .content ul #contact-skype {
  background: url('../img/icon-skype.png') top left no-repeat;
  background-size: 32px 32px;
  padding-left: 36px;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
}

.stackable {
  width: 100%;
}

.stackable::after {
  display: block;
  padding: 0;
  margin: 0 auto;
  width: 90%;
  height: 5px;
  border-radius: 5px 0 5px 0; 
  content: " ";
  background: #555555;
}

.stackable:first-child::after, .stackable:last-child::after {
  display: none;
}

.stackable .content {
  padding: 10px 25px 25px 25px;
}

.stackable .content h1, .stackable .content h2 {
  text-align: center;
}

.badass{
  color: #bada55;
}

.smurf{
  color: #0086cf;
}

.banana{
  color: #ffcb00;
}

.align.center {
  text-align: center;
}

.large-only {
  display: none;
}

.logo-cards-holder, .article-cards-holder {
  max-width: 620px;
  position: relative;
}

.logo-card {
  background: #ffffff;
  display: inline-block;
  min-width: 180px;
  text-align: center;
  border-radius: 5px 5px 20px 20px;
  overflow: hidden;
  margin-left: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(85,85,85,1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(85,85,85,1);
  box-shadow: 1px 1px 3px 0px rgba(85,85,85,1);
}

.logo-card .image{
  height: 180px;
  display: inline-block;
}

.logo-card .image img{
  height: 150px;
  padding: 15px;
}

.logo-card .title{
  background: #555555;
  color: #ffffff;
  text-align: center;
  padding: 4px;
}

.article-card {
  background: #ffffff;
  display: inline-block;
  width: 100%;
  max-width: 605px;
  text-align: left;
  border-radius: 0px 20px 0 20px;
  overflow: hidden;
  margin-left: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(85,85,85,1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(85,85,85,1);
  box-shadow: 1px 1px 3px 0px rgba(85,85,85,1);
  position: relative;
}

.article-card:hover {
  background: #BADA55;
}

.article-card .image {
  height: 150px;
  width: 150px;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  border: 1px #888888 solid;
  border-radius: 5px;
}

.article-card .image img {
  height: 150px;
}

.article-card .excerpt {
  position: absolute;
  left: 182px;
  top: 15px;
  right: 0px;
  bottom: 15px;
  display: inline-block;
  max-width: 390px;
  vertical-align: top;
  padding-right: 25px;
}

.article-card .excerpt .title{
  color: #333333;
  font-family: 'panefresco', sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 3px;
}

.article-card .excerpt .sub-title{
  color: #bada55;
  font-size: 14px;
  margin-bottom: 10px;
}

.article-card .excerpt .summary{
  color: #888888;
  font-size: 12px;
  text-align: justify;
}

.article-card:hover .excerpt .title,
.article-card:hover .excerpt .sub-title,
.article-card:hover .excerpt .summary {
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .small-only {
    display: none;
  }

  .large-only {
    display: block;
  }

  #player {
    display: block;
  }

  #menu #spectrum{
    display: block;
  }

  #menu{
    top: 0;
    left: 0;
    width: 230px;
    height: 100%;
    border: none;
    border-radius: 0;
    padding-top: 0;
  }
  #menu>ul {
    display: block;
  }

  #menu .hamburger, #menu .close{
    display: none;
  }

  #content {
    width: 100%;
    overflow:hidden;
  }

  #home {
    overflow: hidden;
  }

  .stackable {
    background: rgba(255,255,255,0.65);
    position: absolute;
    top: 0;
    height: 0%;
    padding-left: 230px;
    overflow-y: auto;
    overflow-x: hidden;
    width: auto;
    -webkit-animation: hidemove 1s ease-out; /* Chrome, Safari, Opera */
    animation: hidemove 1s ease-out;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes hidemove {
    from {left: 0%; right: 0%; height:100%;}
    to {left: 100%; right: -100%; height:100%;}
  }

  @keyframes hidemove {
    from {left: 0%; right: 0%; height:100%;}
    to {left: 100%; right: -100%; height:100%;}
  }

  .stackable:target {
    height: 100%;
    left: 0%;
    right: 0%;
    -webkit-animation: targetmove 1s ease-out; /* Chrome, Safari, Opera */
    animation: targetmove 1s ease-out;
  }

  #home {
    height: 100%;
    left: 0%;
    right: 0%;
    -webkit-animation: none;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes targetmove {
    from {left: -100%; right: 100%;}
    to {left: 0%; right: 0%;}
  }

  @keyframes targetmove {
    from {left: -100%; right: 100%;}
    to {left: 0%; right: 0%;}
  }

  .stackable .content h1, .stackable .content h2 {
    text-align: left;
  }

  .stackable::after {
    display: none;
  }
}